{% extends 'base.html.twig' %}


{% block title %}Modifier l'article{% endblock %}

{% block body %}
<div class="container">

    
        <h1 class="my-5">Mettre à jour l'article {{article.title}}</h1>
        
   {{form(form)}}
    </div>

   
      


</div>



{% endblock %}