{% extends 'base.html.twig' %}


{% block title %}Mettre à jour votre compte{% endblock %}

{% block body %}
<div class="container">

    
        <h1 class="my-5">Mettre à jour vos informations</h1>
        
   {{form(form)}}
    </div>

   
      


</div>



{% endblock %}